symbol,name,sector,delisted_on
LEH,Lehman Brothers,Financials,2008-09-15
ENRNQ,Enron,Energy,2001-12-02
BSC,Bear Stearns,Financials,2008-05-30
WAMUQ,Washington Mutual,Financials,2008-09-26
GM-old,General Motors (pre-bankruptcy),Consumer Discretionary,2009-06-01
SUNEQ,SunEdison,Information Technology,2016-04-21
WCG,WellCare Health,Health Care,2020-01-23
